.console-window {
    position: fixed;
    top: 0;
    right: 0;
    
    width: 20%;
    height:100%;

    border: 1px solid gray;
    border-radius: 5px;

    padding: 5px;

    background: white;
    opacity: 0.95;
    z-index: 1000;
}

.console-window .close {
    color: gray;
}

.console-window .command,
.console-window .result {
    width: 95%;
    padding: 1em;
	background: black;
    font-size: 14px;
	font-family: mono;
	color: #DDD;
}

.console-window .command {
    height: 20%;
}
.console-window .result {
    height: 80%;
}

.console-window .result.error {
    color: red;
}
