/* CSS for Stencils.NormalView. Also inherited by RevealView */

#content {
    /* Stencil is shown like a paper page centered in screen and never allowed to be too small */
	margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    min-width: 30rem;

    /* Border slightly darker than body background */
    border: 1px solid #CCC;

    /* White backgound with padding */
    background-color: white;
    padding: 3em;

    /* Text */
    font-family: serif;
    font-size: large;
    line-height: 1.5em;
    text-align: justify;
    color: #444444;
}

/* Stencil title */
#content #title {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font-weight: bold;
}

/* Stencil authors */
#content address.authors a[rel=author] {
    font-size: 1.3em;
}

/* Anchors */
#content a {
    /* Remove underline and change colour */
    text-decoration: none;
    color: rgb(92, 116, 216);
}

/* Paragraph */
#content p {
	margin-top: 1em;
}

/* Emphasis */
#content em {
    font-style: italic;
}
#content strong {
    font-weight: bold;
}

/* Inline code */
#content code {
    font-family: mono;
}

/* Lists */
#content ul,ol {
    /* Bullets and number to be inside bounding box */
    list-style-position: inside;
    padding: 0.5em;
}
#content ol {
    list-style-type: decimal;
}
#content ul {
    list-style-type: disc;
}

/* Headings */
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	font-family: sans-serif;
	font-weight: bold;
    margin-top: 1em;
}
#content h1 {
    font-size: 1.4em;
}
#content h2 {
    font-size: 1.3em;
}
#content h3 {
    font-size: 1.2em;
}
#content h4 {
    font-size: 1.1em;
}

/**
 * Math
 *
 * Will be rendered by MathJax but provide a style here so that
 * math is visible prior to rendering or if rendering fails.
 */
#content script[type="math/tex"],
#content script[type="math/asciimath"] {
    display: inline;
    font-style: italic;
    color: grey;
}

/************************************************
 * Tables
 */

#content table {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/************************************************
 * Figures
 */

#content figure {
    margin-top: 2em;
    margin-bottom: 2em;
}

/**
 * Figure images resized to fit within content 
 * (with some margin) and centred
 */
#content figure img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/************************************************
 * Figure and table captions
 */

#content table caption,
#content figure figcaption,
#content figure caption {
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
}

/*Stencil directives which should be hidden.
 */
/**
 * Any code
 */
#content [data-code],
/**
 * A `for` directive's `each` child
 */
#content [data-each],
/**
 * An `include` directive`s child elements
 */
#content [data-set],
#content [data-delete],
#content [data-replace],
#content [data-change],
#content [data-before],
#content [data-set],
#content [data-after],
#content [data-prepend],
#content [data-append],
/**
 * An `error`
 */
#content [data-error],
/**
 * A `macro` 
 */
#content [data-macro],
/**
 * A `param` directive
 */
#content [data-param],
/**
 * A `desc` directive
 */
#content [data-desc],
/**
 * Any element that has been turned off
 * by rendering
 */
#content [data-off="true"] {
    display: none;    
}
