/**
 * CSS for Stencils.RevealView
 *
 * Note that this view builds on NormalView so inherits what
 * is in `normal-view.css`
 */


/******** Content **********/

/**
 * Remove the outline the browser adds when 
 * made contenteditable
 */
#content.reveal:focus {
    outline: none;
}

#content.reveal [data-comment],
#content.reveal [data-code],

#content.reveal [data-text],
#content.reveal [data-image],

#content.reveal [data-with],

#content.reveal [data-if],
#content.reveal [data-elif],
#content.reveal [data-else],

#content.reveal [data-switch],
#content.reveal [data-case],
#content.reveal [data-default],

#content.reveal [data-for],
#content.reveal [data-each],

#content.reveal [data-include],
#content.reveal [data-set],

#content.reveal [data-macro],
#content.reveal [data-param],
#content.reveal [data-desc],

#content.reveal [data-error] {
	transition: all 0.5s;  

    border: 1px solid #222;
    border-radius: 3px;

    margin: 0.2em 0 0.2em 0;
    padding: 0.2em;
}

/**
 * Comments are indicated in content
 */
#content.reveal [data-comment] {
    background-color: hsla(11,100%,50%,0.25);
    border-color: hsla(11,100%,40%,0.25);
}

/**
 * Text directives are indicated in content
 */
#content.reveal [data-text] {
    background-color: hsla(93,100%,95%,1);
    border-color: hsla(93,100%,80%,1);
}

/**
 * Rendered math elements
 */
#content.reveal .MathJax {
    display: inline-block;
    background-color: hsla(64,100%,90%,1);
    
    border: 1px solid;
    border-color: hsla(64,100%,70%,1);
    border-radius: 3px;

    padding: 0 0.2em 0 0.2em;
    margin: 0 -0.2em 0 -0.2em;
}

#content.reveal [data-if],
#content.reveal [data-elif],
#content.reveal [data-else] {
    background-color: hsla(60,90%,90%,1);
    border-color: hsla(60,80%,80%,1);
}

#content.reveal [data-switch] {
    background-color: hsla(80,90%,90%,1);
    border-color: hsla(80,80%,80%,1);    
}
#content.reveal [data-case],
#content.reveal [data-default] {
    background-color: hsla(90,90%,90%,1);
    border-color: hsla(90,80%,80%,1);    
}

#content.reveal [data-if][data-off],
#content.reveal [data-elif][data-off],
#content.reveal [data-else][data-off],
#content.reveal [data-case][data-off],
#content.reveal [data-default][data-off] {
    /**
     * Show as a single line
     */
    display: block;
    height: 0.1em;
    overflow: hidden;
}

#content.reveal [data-if][data-off]:before,
#content.reveal [data-elif][data-off]:before,
#content.reveal [data-else][data-off]:before,
#content.reveal [data-case][data-off]:before,
#content.reveal [data-default][data-off]:before {
    /** Add :before content to shift down and hide actual content **/
    content: "";
    display: block;
    height: 1em;
}

#content.reveal [data-if][data-off].reveal-show,
#content.reveal [data-elif][data-off].reveal-show,
#content.reveal [data-else][data-off].reveal-show,
#content.reveal [data-case][data-off].reveal-show,
#content.reveal [data-default][data-off].reveal-show {
    /** For shown directives allow full height **/
    height: auto;
}

#content.reveal [data-if][data-off].reveal-show:before,
#content.reveal [data-elif][data-off].reveal-show:before,
#content.reveal [data-else][data-off].reveal-show:before,
#content.reveal [data-case][data-off].reveal-show:before,
#content.reveal [data-default][data-off].reveal-show:before {
    /** For shown directives hide :before content **/
    display: none;
}


#content.reveal [data-for] {
    display: block;
    padding: 0.2em;
    background-color: hsla(200,90%,90%,1);
    border: 1px solid hsla(200,90%,80%,1);
    border-radius: 3px;
}

#content.reveal [data-each] {
    padding: 0.5em;
    background-color: hsla(220,100%,95%,1);
    border: 1px solid hsla(220,100%,80%,1);
    border-radius: 3px;
}

#content.reveal [data-include] {
    padding: 0.5em;
    background-color: hsla(250,100%,95%,1);
    border: 1px solid hsla(250,100%,80%,1);
    border-radius: 3px;
}


#content.reveal [data-macro] {
    /** Show it cause it ins normally hidden */
    display: block;
    /** Set colours **/
    background-color: hsla(340,100%,95%,1);
    border-color: hsla(340,100%,80%,1);
}

#content.reveal [data-error] {
    display: block;
    background-color: hsla(0,90%,90%,1);
    border-color: hsla(0,90%,80%,1);

    font-family: mono;
    font-size: 14px;
    color: black;
}

/******** Tools **********/

.reveal-tool {
    border-radius: 3px;

    padding: 0.7em 0.3em 0.7em 0.3em;

    background-color: #050505;

    font-family: sans;
    font-size: 0.8em;
    color: #EEE;
}

.reveal-tool-pointer {
    width: 0; 
    height: 0; 

    margin-left: auto;
    margin-right: auto;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 10px solid #050505;
;
    opacity: 0.97;
}

/******** Tool information **********/

.reveal-tool-on {
    color: green;
}
.reveal-tool-off {
    color: red;
}

/******** Tool arguments **********/

.reveal-tool-arg {
    /**
     * Arguments as inline block with a minimum width 
     * so visible when empty
     */
    display: inline-block;
    min-width: 1em;

    border-radius: 0.25em;
    padding: 0.2em;

    background-color: white;

    font-size: 14px;
    color: #111;
}

.reveal-tool-arg:focus {
    /** Inner box shadow using Stencila green **/
    box-shadow: inset 0 0 0.7em #8be63f;
    /** Remove any browser outline **/
    outline: none;
}

.reveal-tool-arg-expr {
    font-family: monospace;
}

/******** Tool for `code` **********/

.reveal-code-editor {
    min-height: 16px; /* Some height here is necessary for second-time rendering (e.g. F7 then F6 then F7) for some stange reason */
    margin: 1em 0 1em 0;
    border: 2px solid black;  /* Border around scroll bars too */
    border-radius: 5px;
}


/******** Tool for `include` and `macro`s **********/

.reveal-tool-include-sets,
.reveal-tool-macro-params, {
    margin-top: 1em;
}

.reveal-tool-include-set,
.reveal-tool-macro-param {
    display: list-item;
    margin-top: 0.5em;
}

.reveal-tool-macro-desc {
    display: block;
}
